h2 {
 font-size: 1.5em;
 text-align: center;
 border: 2px solid black;
 border-radius: 100px;
 background-color: rgb(230, 228, 228);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.baixa {
 font-size: 1.1em;
 text-align: center;
 text-decoration: underline;

}

.tudo {
 width: 65%;
 height: 90%;
}

.partetras{
background-color: rgb(179, 179, 179) ;
 width: 1000px;
 height: 100%;
 box-shadow: 0px 0px 2000px 20px black;
 border: 3px solid black;
 border-radius: 50px;

}